<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">


    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>B8</servlet-name>
        <servlet-class>com.java.B8</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>B8</servlet-name>
        <url-pattern>/B8</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>A3</servlet-name>
        <servlet-class>com.java.A3</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>A3</servlet-name>
        <url-pattern>/A3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>page2</servlet-name>
        <servlet-class>com.java.B8</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>page2</servlet-name>
        <url-pattern>/page2</url-pattern>
    </servlet-mapping>

    <PASS_CODE>dooooooog</PASS_CODE>
</web-app>
